<%
meta title: ["#{@listing.franchisename}", "UK Franchise"],
     description: "#{@metadesc}",
     keywords: ["#{@listing.franchisename}", "#{@listing.scale}", "#{@listing.category}"]
%>

<div class="row padding1t">
  <div class="large-8 columns text-center offwhitebg row1">
    <div class="whitebg logoborder">
      <img class="margin2v" src="<%= @listing.logourl %>" alt="<%= @listing.franchisename %>">
    </div>
    <%= link_to(:controller => "listings", :action => :leadcreate) do %>
      <p class="textup greenbg white padding15v margin0b weight700 font08 clicktrigger"><span class="triggercontent">one-click-enquiry</span></p>
    <% end %>
      <div class="row statsrow">
        <div class="large-4 small-4 columns content text-center iconcolumn">
          <%= image_tag('showicon1.png') %>
        </div>
        <div class="large-20 small-20 columns content text-left">
          <p class=" stattext"><%= @listing.franchisename %></p>
        </div>
      </div>
      <div class="row statsrow">
        <div class="large-4 small-4 columns content text-center iconcolumn stats">
          <%= image_tag('showicon2.png') %>
        </div>
        <div class="large-20 small-20 columns content text-left stats">
          <p class="stattext"><a rel="nofollow" href="http://<%= @listing.website %>"><%= @listing.website %></a></p>
        </div>
      </div>
      <div class="row statsrow">
        <div class="large-4 small-4 columns content text-center iconcolumn stats">
          <%= image_tag('showicon3.png') %>
        </div>
        <div class="large-20 small-20 columns content text-left stats">
          <p class="stattext"><%= @listing.scale %></p>
        </div>
      </div>
      <div class="row statsrow">
        <div class="large-4 small-4 columns content text-center iconcolumn stats">
          <%= image_tag('showicon5.png') %>
        </div>
        <div class="large-20 small-20 columns content text-left stats">
          <p class="stattext"><%= @listing.mininvestment %> Min Investment</p>
        </div>
      </div>
      <div class="row statsrow">
        <div class="large-4 small-4 columns content text-center iconcolumn stats">
          <%= image_tag('showicon6.png') %>
        </div>
        <div class="large-20 small-20 columns content text-left stats">
          <p class="stattext"><%= @listing.category %></p>
        </div>
      </div>
      <div class="row statsrow">
        <div class="large-24 columns content text-center iconcolumn stats">
          <%= image_tag('showicon7.png') %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 columns content text-center facebookcolumn stats">
          <a href="<%= @listing.facebook %>"><p class="textup font07 white margin0b">Facebook</p></a>
        </div>
        <div class="large-12 medium-12 columns content text-center twittercolumn stats">
          <a href="<%= @listing.twitter %>"><p class="textup font07 white margin0b">Twitter</p></a>
        </div>
      </div>
      <div class="row">
        <div class="large-12 medium-12 columns content text-center googlepluscolumn stats">
          <a href="<%= @listing.googleplus %>"><p class="textup font07 white margin0b">Google Plus</p></a>
        </div>
        <div class="large-12 medium-12 columns content text-center linkedincolumn stats">
          <a href="<%= @listing.linkedin %>"><p class="textup font07 white margin0b">LinkedIn</p></a>
        </div>
      </div>
  </div>
  <div class="large-16 columns row1 whitebg content3 padding2v">
    <h1 class="font16 margin1b"><%= @listing.franchisename %><h1> 
    <%= simple_format(@listing.longdescription, class: "font09", sanitize: true) %>
  </div>
</div>

<% if Listing.where(:category => @listing.category).count > 3 %> 
  <div class="row padding2t">
    <div class="large-24 columns">
      <h5 class="textup weight900 font085 grey genericborder margin2t">Related franchises</h5>
      <div class="row">
        <% @related.each do |latest| %>
          <div class="large-8 medium-8 columns content1 padding1v">
            <%= link_to(latest) do %>
              <div class="latestlisting">
                <div class="whitebg text-center">
                  <img class="spotlightlogo margin05v" src="<%= latest.logourl %>">
                </div>
                <div class="greybg">
                  <div class="row lightgreybg padding03v content latestbb">
                    <div class="large-24 columns text-left">
                      <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon1.png', class: "latesticon") %><span class="listingicontext"><%= latest.franchisename %></span></h4>
                    </div>
                  </div>
                  <div class="row lightgreybg padding03v content">
                    <div class="large-24 columns text-left">
                      <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon2.png', class: "latesticon") %><span class="listingicontext"><%= latest.mininvestment %> Minimum Investment</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<!-- <%= "#{@listing.impressionist_count} views so far!" %> -->

<script type="text/javascript">

    (function() {

        $(function() {

          $(".clicktrigger").click(function(){
            $(".triggercontent").css("visibility", "hidden");
            $(".clicktrigger").addClass("spinner");
          });

          var elem = $(".charcount1");
          $(".charlimit1").limiter(360, elem);

         $(function() {
            $(".newstorybutton").click(function () {
                $('#newstorycontainer').slideToggle("slow"); // toggles between show/hide
                $('#storycontainer').slideToggle("slow"); // toggles between show/hide
            });
          });

          $(function() {
            $('.stats').matchHeight();
          });

          $(function() {
            $('.row1').matchHeight();
          });

          $(function() {
            $('.row2').matchHeight();
          });
          
        });

    })();
</script>
