<%
meta title: "Franchise Opportunities and Directory | UK Franchise",
     description: "On track to become the UK's largest franchise directory, providing opportunities, information and industry news all in one place.",
     keywords: ["investment", "money", "events", "home"]
%>

<style>

.post1{
background-image: url("<%= @post1.image %>");
background-size: cover;
}
</style>

<div class="row">
  <div class="large-18 medium-18 columns row1 text-left">
    <div class="row marginminus04h">
      <% @spotlight.each do |latest| %>
        <div class="large-8 medium-8 columns content1 padding1v">
          <%= link_to(latest) do %>
            <div class="latestlisting">
              <div class="whitebg text-center">
                <img class="spotlightlogo margin05v" src="<%= latest.logourl %>">
              </div>
              <div class="greybg">
                <div class="row lightgreybg padding03v content latestbb">
                  <div class="large-24 columns text-left">
                    <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon1.png', class: "latesticon") %><span class="listingicontext"><%= latest.franchisename %></span></h4>
                  </div>
                </div>
                <div class="row lightgreybg padding03v content">
                  <div class="large-24 columns text-left">
                    <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon2.png', class: "latesticon") %><span class="listingicontext"><%= latest.mininvestment %> Minimum Investment</span></h4>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row content1 marginminus04h">
      <div class="row offwhitebg content searchboxpadding">
        <h3 class="font12">Search across the UK's fastest growing franchise directory</h3>
          <%= form_tag home_search_path, :method => :get, class: "homesearch" do %>
            <div class="large-21 medium-21 small-21 columns">
              <%= text_field_tag :search, params[:search], id: "indexsearch", :placeholder => "Search by industry, franchise name or related keyword", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Search by industry, franchise name or related keyword'" %>
            </div>
            <div class="large-3 medium-3 small-3 columns">
              <%= submit_tag "Search", :name => nil %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="large-6 medium-6 columns row1 text-right padding1t">
    <a href="https://www.twitter.com/ukfranchisecouk"><%= image_tag('twitterad.png', class: "lightborder") %></a>
  </div>
</div>

<div class="row padding1v">
  <div class="large-18 columns content1 marginminus04h">
    <h5 class="textup weight900 font085 grey moneyzoneborder">Money Zone</h5>
    <div class="row">
      <div class="large-16 columns">
        <%= link_to post_path(@post1) do %>
        <div class="post1 blogwidget">
          <div class="homepostimageoverlay content3 padding8t2b blogwidget">
            <h3 class="margin0t white font2 ubuntu weight500 margin0b"><%= @post1.title %></h3>
            <p class="white weight100 font09 posttitleborder margin0b margin1t">Posted by <span class="italic weight600"><%= @post1.name %></span> on <span class="italic"><%= @post1.created_at.strftime("%b %d, %Y") %></span></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="large-8 columns blogwidget lightergreybg blogwidgetborder">
        <%= link_to post_path(@post4) do %><h4 class="testerson blogadditionals"><%= @additional1.title %><span></span></h4><% end %>
        <%= link_to post_path(@post3) do %><h4 class="testerson blogadditionals"><%= @additional2.title %><span></span></h4><% end %>
        <%= link_to post_path(@post4) do %><h4 class="testerson blogadditionals"><%= @additional3.title %><span></span></h4><% end %>
      </div>
    </div>
    <h5 class="textup weight900 font085 grey eventsborder margin1t">Events</h5>
    <div class="row">
      <div id="map-canvas"></div>
    </div>
  </div>
  <div class="large-6 columns marginminus04h">
    <% @latest.each do |latest| %>
      <div class="row content1 padding1t padding0b text-center">
        <%= link_to(latest) do %>
          <div class="large-24 columns latestlisting whitebg">
            <div class="latestlogocontainer margin05v"><img class="latestlogo" src="<%= latest.logourl %>"></div>
            <div class="row lightgreybg padding03v content latestbb">
              <div class="large-24 columns text-left">
                <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon1.png', class: "latesticon") %><span class="listingicontext"><%= latest.franchisename %></span></h4>
              </div>
            </div>
            <div class="row lightgreybg padding03v content">
              <div class="large-24 columns text-left">
                <h4 class="font07 margin0b margin0t"><%= image_tag('listingicon2.png', class: "latesticon") %><span class="listingicontext"><%= latest.mininvestment %> Minimum Investment</span></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row padding1v">
  <div class="large-18 medium-18 columns row3 content1 marginminus04h">
    <h5 class="textup weight900 font085 grey genericborder margin1t">Categories</h5>
        <div class="row">
          <div class="large-6 medium-6 small-12 columns">
            <ul class="no-bullet catjump margin0b">
              <%= link_to industry_accounting_path do %><li>Accounting</li><% end %>
              <%= link_to industry_agriculture_path do %><li>Agriculture</li><% end %>
              <%= link_to industry_automotive_path do %><li>Automotive</li><% end %>
              <%= link_to industry_beverage_path do %><li>Beverage</li><% end %>
              <%= link_to industry_B2B_path do %><li>B2B</li><% end %>
              <%= link_to industry_cafeandcoffee_path do %><li>Cafe &amp; Coffee</li><% end %>
              <%= link_to industry_care_path do %><li>Care</li><% end %>
              <%= link_to industry_chemical_path do %><li>Chemical</li><% end %>
              <%= link_to industry_childrenandbabies_path do %><li>Children &amp; Babies</li><% end %>
              <%= link_to industry_cleaning_path do %><li>Cleaning</li><% end %>
              <%= link_to industry_communications_path do %><li>Communications</li><% end %>
            </ul>
          </div>
          <div class="large-6 medium-6 small-12 columns">
            <ul class="no-bullet catjump margin0b">
              <%= link_to industry_computers_path do %><li>Computers</li><% end %>
              <%= link_to industry_construction_path do %><li>Construction</li><% end %>
              <%= link_to industry_consultancy_path do %><li>Consultancy</li><% end %>
              <%= link_to industry_logistics_path do %><li>Logistics</li><% end %>
              <%= link_to industry_educationandtraining_path do %><li>Education &amp; Training</li><% end %>
              <%= link_to industry_electrical_path do %><li>Electrical</li><% end %>
              <%= link_to industry_entertainment_path do %><li>Entertainment</li><% end %>
              <%= link_to industry_enviromental_path do %><li>Environmental</li><% end %>
              <%= link_to industry_estateagents_path do %><li>Estate Agents</li><% end %>
              <%= link_to industry_fashion_path do %><li>Fashion</li><% end %>
              <%= link_to industry_financial_path do %><li>Financial</li><% end %>
            </ul>
          </div>
          <div class="large-6 medium-6 small-12 columns">
            <ul class="no-bullet catjump margin0b">
              <%= link_to industry_food_path do %><li>Food</li><% end %>
              <%= link_to industry_health_path do %><li>Health</li><% end %>
              <%= link_to industry_hirerental_path do %><li>Hire &amp; Rental</li><% end %>
              <%= link_to industry_hospitality_path do %><li>Hospitality</li><% end %>
              <%= link_to industry_indoorpropertyservices_path do %><li>Indoor Property Services</li><% end %>
              <%= link_to industry_outdoorpropertyservices_path do %><li>Outdoor Property Services</li><% end %>
              <%= link_to industry_internet_path do %><li>Internet</li><% end %>
              <%= link_to industry_legal_path do %><li>Legal</li><% end %>
              <%= link_to industry_manafacture_path do %><li>Manafacture</li><% end %>
              <%= link_to industry_pets_path do %><li>Pets</li><% end %>
              <%= link_to industry_promotional_path do %><li>Promotional</li><% end %>
            </ul>
          </div>
          <div class="large-6 medium-6 small-12 columns">
            <ul class="no-bullet catjump margin0b">
              <%= link_to industry_print_path do %><li>Print</li><% end %>
              <%= link_to industry_promotional_path do %><li>Promotional</li><% end %>
              <%= link_to industry_print_path do %><li>Print</li><% end %>
              <%= link_to industry_repairandmaintenance_path do %><li>Repair &amp; Maintenance</li><% end %>
              <br>
              <%= link_to industry_investment1_path do %><li class="weight600">Less than £15,000</li><% end %>
              <%= link_to industry_investment2_path do %><li class="weight600">£15,000 to £50,000</li><% end %>
              <%= link_to industry_investment4_path do %><li class="weight600">£50,000 to £75,000</li><% end %>
              <%= link_to industry_investment3_path do %><li class="weight600">More than £75,000</li><% end %>
            </ul>
          </div>
        </div>
  </div>
  <div class="large-6 medium-6 columns row3 marginminus1h">
    <h5 class="textup weight900 font085 grey matcherborder margin1t">Matcher</h5>
  </div>
</div>

<script type="text/javascript">
  function initialize() {

  var styles = [
{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#cccccc"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"administrative.province","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"saturation":"-59"}]},{"featureType":"administrative.province","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"saturation":"88"},{"color":"#cf0e0e"}]},{"featureType":"administrative.locality","elementType":"geometry.stroke","stylers":[{"visibility":"off"},{"saturation":"-100"},{"color":"#b30303"}]},{"featureType":"administrative.locality","elementType":"labels","stylers":[{"hue":"#ff0000"},{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.neighborhood","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"administrative.neighborhood","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e9e9e9"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry.stroke","stylers":[{"color":"#ff0000"},{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#dadada"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#c9c9c9"},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#d5d5d5"},{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"},{"visibility":"on"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#dcdcdc"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#f7f7f7"}]    }
    ];

    var mapOptions = {
      center: { lat: 52.253027, lng: -1.252441},
      zoom: 6
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    map.setOptions({styles: styles});


    var image = '<%= image_path('maps-icon.png') %>';


    <% @events.each do |event| %>

      var marker<%= event.id %> = new google.maps.Marker({
      position: {lat: <%= event.lat %>, lng: <%= event.long %>},
      map: map,
      title:"<%= event.eventname %>",
      icon: image
      });

      google.maps.event.addListener(marker<%= event.id %>, 'click', function() {
        window.location.href = "<%= url_for event_path(event) %>";
      });
    <% end %>

  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
    (function() {

        $(function() {

          $(function() {
            $('.row1').matchHeight();
          });

          $(function() {
            $('.row2').matchHeight();
          });

          $(function() {
            $('.row3').matchHeight();
          });

          $(function() {
            $('.blogwidget').matchHeight();
          });

          $(function() {
            $('.blogadditionals').matchHeight();
          });

          $(function() {
            $('.nav').matchHeight();
          });

          
        });

    })();
</script>