<%
meta title: ["Results for #{@query}", "UK Franchise"],
     description: "Search through all of the UK's franchise brands easily and quickly.",
     keywords: ["#{@query}", "search", "results"]
%>

<div class="row darkgreybg padding3t1b">
	<div class="large-24 columns content2">
		<h1 class="white industrytitle">Results for "<%= @query %>"</h1>
	</div>
</div>


<% @result.each_slice(3) do |row_result| %>
<div class="row padding3v content lightergreybg">
	<% row_result.each do |result| %>
		<div class="large-8 columns content">
			<a href="<%= listing_path(result) %>">
				<div class="singlelisting">
					<div class="text-center">
						<div style="border-bottom: 2px solid <%= result.hexbg %>"><img src="<%= result.logourl %>" class="padding1v listinglogo"></div>
					</div>
					<p class="font08 content3 lightergreybg padding1v margin0b"><%= truncate("#{result.longdescription}".gsub(/<[^<>]*>/, " "), :length => 250, :separator => '', :omission => "") %></p>
					<div class="row lightgreybg padding05v">
						<div class="large-12 columns text-center">
							<h4 class="font08 margin0b margin0t"><%= image_tag('listingicon1.png', class: "listingicon") %><span class="listingicontext"><%= result.franchisename %></span></h4>
						</div>
						<div class="large-12 columns text-center">
							<h4 class="font08 margin0b margin0t"><%= image_tag('listingicon2.png', class: "listingicon") %><span class="listingicontext"><%= result.mininvestment %></span></h4>
						</div>
					</div>
					<p class="text-center textup white margin0b padding05v font07 viewfranchiseprofile">VIEW FRANCHISE PROFILE</p>
				</div>
			</a>
		</div>
	<% end %>
</div>
<% end %>