<%
meta title: ["Franchise Events", "UK Franchise"],
     description: "The UK's franchise events can be a great tool for discovering franchise opportunities and gaining insight into their day-to-day activities and potential.",
     keywords: ["events", "exhibitions", "discover", "locations"]
%>



<div class="row padding2v eventsbg">
  <div class="large-14 medium-14 columns content2 eventheader">
    <%= image_tag('eventslogo.png', class: "eventslogo") %>
  </div>
  <div class="large-10 medium-10 columns content2 text-right">
    <div class="row valign-normal right">
    	<%= form_tag('/posts/subscribe', method: "post", id: "subscribe") do%>
        <div class="large-18 medium-18 columns text-right mailer">
        	<%= email_field(:email, :email, {id: "mailersub", placeholder: "Sign up to our newsletter", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Sign up to our newsletter'" }) %>
        </div>
        <div class="large-6 medium-6 columns text-right mailer">
	        <%= submit_tag("Submit", id: "mailersubmit", class: "ubuntu") %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% @events.in_groups_of(3, false) do |row_event| %>
	<div class="row padding3t content">
		<% for event in row_event %>
			<div class="large-8 columns content">
				<a href="<%= event.website %>">
					<div class="singleevent">
						<h4 class="font095 padding15t1b content"><span class="weight600"><%= event.eventname %></span><br> <span class="weight100">in</span> <%= event.region %>, <%= event.postcode %></h4>
						<p class="text-center textup margin0b content dateline"><%= event.startdate %> to <%= event.enddate %></p>
						<p class="font08 padding1v content"><%= event.shortdescription %></p>
						<a href="#"><p class="text-center textup margin0b content moreline font08">MORE INFORMATION</p></a>
					</div>
				</a>
			</div>
		<% end %>
	</div>
<% end %>

<div class="row">
	<div class="large-24 columns padding15v">
	</div>
</div>

<script type="text/javascript">
    (function() {

        $(function() {


          $(function() {
            $('.row1').matchHeight();
          });

          $(function() {
            $('.mailer').matchHeight();
          });
          
        });

    })();
</script>
