<%
meta title: ["Cleaning Franchises", "UK Franchise"],
     description: "A complete list of the UK's cleaning related franchises, providing in-depth business information and opportuninties.",
     keywords: ["cleaning franchises", "home care franchises", "maintenance franchises"]
%>

<div class="row bluebg padding3t1b">
	<div class="large-24 columns content2">
		<h1 class="white industrytitle">Cleaning</h1>
	</div>
</div>

<% @listing.in_groups_of(3, false) do |row_listing| %>
<div class="row padding3t content lightergreybg">
	<% for listing in row_listing %>
		<div class="large-8 columns content">
			<a href="<%= listing_path(listing) %>">
				<div class="singlelisting">
					<div class="text-center">
						<div style="border-bottom: 2px solid <%= listing.hexbg %>"><img src="<%= listing.logourl %>" class="padding1v listinglogo"></div>
					</div>
					<p class="font08 content3 lightergreybg padding1v margin0b"><%= truncate("#{listing.longdescription}".gsub(/<[^<>]*>/, " "), :length => 250, :separator => '', :omission => "...") %></p>
					<div class="row lightgreybg padding05v">
					<div class="row lightgreybg padding05v">
						<div class="large-24 columns text-center">
							<h4 class="font08 margin0b margin0t"><%= image_tag('listingicon1.png', class: "listingicon") %><span class="listingicontext"><%= listing.franchisename %></span></h4>
						</div>
					</div>
					</div>
					<p class="text-center textup white margin0b padding05v font07 viewfranchiseprofile">VIEW FRANCHISE PROFILE</p>
				</div>
			</a>
		</div>
	<% end %>
</div>
<% end %>