<div class="row padding05t">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_accounting_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Accounting</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_agriculture_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Agriculture</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_automotive_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Automotive</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_beverage_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Beverage</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_B2B_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">B2B</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_cafeandcoffee_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Cafe and Coffee</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_care_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Care</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_chemical_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Chemical</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_childrenandbabies_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Children and Babies</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_cleaning_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Cleaning</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_communications_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Communications</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_computers_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Computers</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_construction_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Construction</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_consultancy_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Consultancy</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_logistics_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Logistics</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_educationandtraining_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Education and Training</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_electrical_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Electrical</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_entertainment_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Entertainment</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_enviromental_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Envrionmental</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_estateagents_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Estate Agents</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_fashion_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Fashion</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_financial_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Financial</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_food_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Food</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_health_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Health</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_hirerental_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Hire and Rental</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_hospitality_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Hospitality</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_indoorpropertyservices_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Indoor Property Services</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_outdoorpropertyservices_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Outdoor Property Services</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_internet_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Internet</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_legal_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Legal</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_manafacture_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Manafacture</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_pets_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Pets</h4>
	  		</div>
	  	</a>
	  </div>
	</div>
  <div class="row">
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_promotional_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Promotional</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_print_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Print</h4>
	  		</div>
	  	</a>
	  </div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_repairandmaintenance_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Repair and Maintenance</h4>
	  		</div>
	  	</a>
  	</div>
	  <div class="large-6 columns content text-center padding05b">
	  	<a href="<%= industry_repairandmaintenance_path %>">
	  		<div class="industrybutton padding3v">
	  			<h4 class="font1 textup margin0b margin0t">Repair and Maintenance</h4>
	  		</div>
	  	</a>
  	</div>
  </div>