<%
meta title: ["Add your franchise", "UK Franchise"]
%>
<div class="row padding2v">
  <div class="large-4 columns">
    <Br>
  </div>
  <div class="large-10 columns whitebg content padding2v greyb1 row1">
  <h5>Add your franchise</h5>
  <% resource.build_listing %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <h6>Login Information</h6>

    <%= f.text_field :fullname, :placeholder => "Full Name", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Full Name'" %>

    <%= f.text_field :jobtitle, :placeholder => "Job Title", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Job Title'" %>

    <%= f.email_field :email, :placeholder => "Email", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Email'"%>

    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Password'" %>

    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Confirm Password'" %>

      <%= f.fields_for :listing do |f| %>

      <h6>Franchise Information</h6>
              
            <%= f.text_field :franchisename, :placeholder => "Franchise Name", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Franchise Name'", class: "listingnewform"   %>

            <%= f.text_field :leadrecepient, :placeholder => "Lead Recepient Email", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Lead Recepient Email'", class: "listingnewform"   %>

            <%= f.text_field :longdescription, class: "textareabig listingnewform margin0b charlimit3", :placeholder => "Franchise information page (or another directory listing)", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Franchise information page (or another directory listing)'" %>

            <%= f.text_field :website, :placeholder => "Website Address", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Website Address'", class: "listingnewform"   %>

            <%= f.text_field :mininvestment, :placeholder => "Minimum Investment", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Minimum Investment'", class: "listingnewform"   %>

            <%= f.select :category, [["Accounting", "Accounting"], ["Agriculture", "Agriculture"], ["Automotive", "Automotive"], ["Beverage","Beverage"], ["B2B","B2B"], ["Cafe And Coffee","Cafe And Coffee"], ["Care","Care"], ["Chemical","Chemical"], ["Children And Babies","Children And Babies"], ["Cleaning","Cleaning"], ["Communications","Communications"], ["Computers","Computers"], ["Consultancy","Consultancy"], ["Logistics","Logistics"], ["Education And Training","Education And Training"], ["Electrical","Electrical"], ["Entertainment","Entertainment"], ["Enviromental","Enviromental"], ["Estate Agents","Estate Agents"], ["Fashion","Fashion"], ["Financial","Financial"], ["Food","Food"], ["Health","Health"], ["Hire And Rental","Hire And Rental"], ["Hospitality","Hospitality"], ["Indoor Property Services","Indoor Property Services"], ["Outdoor Property Services","Outdoor Property Services"], ["Internet","Internet"], ["Legal","Legal"], ["Manafacture","Manafacture"], ["Pets","Pets"], ["Promotional","Promotional"], ["Print","Print"], ["Repair And Maintenance","Repair And Maintenance"]], :prompt => "Select a Category" %>

            <%= f.text_field :nickname, class: "displaynone" %>

      <% end %>

    <div><%= f.submit "Sign up", class: "font08 textup ubuntu white weight700 registrationsubmit" %></div>
  <% end %>
  </div>
  <div class="large-6 columns lightestgreybg row1 content padding2v">
    <h5>Lead Platform</h5>
    <p class="font08">Once signed up, your franchise will be included in our marketing campaigns to procure an increased interest in franchise business opportunities. When one of our website visitors clicks 'One-Click-Enquiry' on your franchise profile, you will receive an email notification and then will be able to login to your account and view the lead information.</p>
  </div>
  <div class="large-4 columns">
    <Br>
  </div>
</div>

<script type="text/javascript">
    (function() {

        $(function() {

          $(function() {
            $('.row1').matchHeight();
          });

        });

    })();
</script>