<%
meta title: ["The Money Zone", "UK Franchise"],
     description: "The Money Zone is your insight into the franchise industries developments and opportunities. Stay in sync with the latest ways to make money with franchising.",
     keywords: ["The Money Zone", "blog", "posts", "franchise information", "guides", "research", "money"]
%>

<style>
.postimage1{
	background: url("<%= @post1.image %>");
	background-size: cover;
}
.postimage2{
  background: url("<%= @post2.image %>");
  background-size: cover;
}
.postimage3{
  background: url("<%= @post3.image %>");
  background-size: cover;
}
.postimage4{
  background: url("<%= @post4.image %>");
  background-size: cover;
}
</style>


<div class="row padding2v moneybg">
  <div class="large-14 columns content2 postheader">
    <%= image_tag('moneyzonelogo.png', class: "moneyzonelogo") %>
  </div>
  <div class="large-10 medium-10 columns content2 text-right">
    <div class="row valign-normal right">
      <%= form_tag('/posts/subscribe', method: "post", id: "subscribe") do%>
        <div class="large-18 medium-18 columns text-right mailer">
          <%= email_field(:email, :email, {id: "mailersub", placeholder: "Sign up to our newsletter", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Sign up to our newsletter'" }) %>
        </div>
        <div class="large-6 medium-6 columns text-right mailer">
          <%= submit_tag("Submit", id: "mailersubmit", class: "ubuntu") %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row padding2t">
  <div class="large-15 columns">
    <%= link_to post_path(@post1) do %>
      <div class="postimage1">
        <div class="postimageoverlay1 content2 row1 padding10t1b">
            <h1 class="margin0b margin0t white weight500 font2 padding05b ubuntu"><%= @post1.title %></h1>
            <p class="white weight100 font09 posttitleborder">Posted by <span class="italic weight600"><%= @post1.name %></span> on <span class="italic"><%= @post1.created_at.strftime("%b %d, %Y") %></span></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="large-9 columns">
    <%= link_to post_path(@post2) do %>
      <div class="postimage2">
        <div class="postimageoverlay1 content2 row1 padding10t1b">
            <h2 class="margin0b margin0t white weight500 font14 padding05b ubuntu"><%= @post2.title %></h2>
            <p class="white weight100 font09 posttitleborder">Posted by <span class="italic weight600"><%= @post2.name %></span> on <span class="italic"><%= @post2.created_at.strftime("%b %d, %Y") %></span></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns text-left">
    <%= link_to post_path(@post3) do %>
      <div class="postimage3">
        <div class="postimageoverlay1 content2">
          <div class="row valign-middle row2 padding3v">
            <div class="large-24 columns">
              <h3 class=" margin0t white weight500 font12 ubuntu"><%= @post3.title %></h3>
              <p class="white weight100 font07 posttitleborder margin0b">Posted by <span class="italic weight600 margin0b"><%= @post3.name %></span> on <span class="italic"><%= @post2.created_at.strftime("%b %d, %Y") %></span></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="large-12 columns text-left">
    <%= link_to post_path(@post4) do %>
      <div class="postimage4">
        <div class="postimageoverlay1 content2">
          <div class="row valign-middle row2 padding3v ubuntu">
            <div class="large-24 columns">
              <h3 class=" margin0t white weight500 font12 ubuntu"><%= @post4.title %></h3>
              <p class="white weight100 font07 posttitleborder margin0b">Posted by <span class="italic weight600 margin0b"><%= @post4.name %></span> on <span class="italic"><%= @post4.created_at.strftime("%b %d, %Y") %></span></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-18 columns whitebg content2 padding1v row3">
    <% @postlist.each do |post| %>
    <div class="textcontainer padding1v">
      <p class="weight100 font08 posttitleborder margin0b">Posted by <span class="italic weight600 margin0b"><%= post.name %></span> on <span class="italic"><%= post.created_at.strftime("%b %d, %Y") %></span></p>
      <h4 class="ubuntu font13 weight500"><%= post.title %></h4>
      <p class="margin0b font08"><%= truncate("#{post.content}".gsub(/<[^<>]*>/, " "), :length => 500, :separator => '', :omission => "") %><%= link_to post_path(post) do %><span class="bloglistreadmore">READ MORE</span><% end %></p>
    </div>
    <% end %>
  </div>
  <div class="large-6 columns lightergreybg padding1v text-center row3">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blogmain -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:300px;height:600px"
    data-ad-client="ca-pub-3449156753114364"
    data-ad-slot="9484357734"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>




<script type="text/javascript">
    (function() {

        $(function() {

          $(function() {
            $('.row1').matchHeight();
          });

          $(function() {
            $('.row2').matchHeight();
          });

          $(function() {
            $('.row3').matchHeight();
          });

          $(function() {
            $('.mailer').matchHeight();
          });

          
        });

    })();
</script>
