<div class="row padding2v">
	<div class="large-7 columns">
		<br>
	</div>
	<div class="large-10 columns whitebg content padding2v greyb1 row1">
<h5>Change your password</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Change my password", class: "font08 textup ubuntu white weight700 registrationsubmit" %></div>
<% end %>
</div>
	<div class="large-7 columns">
		<br>
	</div>
</div>