<div class="row">
	<div class="large-24 columns whitebg greyb1">
		<div class="row bluebg padding15v">
			<div class="large-12 columns content2">
				<h1 class="white font14 weight100">Franchise Insights</h1>
			</div>
		</div>
		<div class="row padding2v">
			<div class="large-6 columns text-center">
				<h2 class="ubuntu logotext font3">
					<% if @leads.count > 0 %>
						<h2 class="ubuntu logotext font3"><%= @leads.where("created_at >= ?", 4.week.ago.utc).count %></h2>
					<% else %>
						<h2 class="ubuntu logotext font3">0</h2>
					<% end %>
				<p>Leads this month</p>
			</div>
			<div class="large-6 columns text-center">
				<h2 class="ubuntu logotext font3"><%= @listing.impressionist_count(:start_date=> Date.today.change(:day => 1)) %></h2>
				<p>Views this month</p>
			</div>
			<div class="large-6 columns text-center">
				<% if @leads.count > 0 %>
					<h2 class="ubuntu font3 weight600"><%= @leads.count %></h2>
				<% else %>
					<h2 class="ubuntu font3 weight600">0</h2>
				<% end %>
				<p>Leads all time</p>
			</div>
			<div class="large-6 columns text-center">
				<h2 class="ubuntu font3 weight600"><%= @listing.impressionist_count %></h2>
				<p>Views all time</p>
			</div>
		</div>
		<div class="row padding1t padding3b content">
		  <div class="large-24 medium-24 columns row3">
		    <h5 class="textup weight900 font085 grey genericborder">leads</h5>
		    <% if @leads.count > 0 %>
			    <% @leads.each do |lead| %>
				    <div class="row lightestgreybg margin1overide padding1v content">
				    	<div class="large-4 columns">
				    		<p class="margin0b margin0t infotype"><span class="datamargin"><span class="datatype">Name:</span> <%= lead.fullname %></span></p>
				    	</div>
				    	<div class="large-7 columns">
			    		<p class="margin0b margin0t infotype"><span class="datamargin"><span class="datatype">Email:</span> <%= lead.email %></span></p>
				    	</div>
				    	<div class="large-4 columns">
			    		<p class="margin0b margin0t infotype"><span class="datamargin"><span class="datatype">Phone:</span> <%= lead.phone %></span></p>
				    	</div>
				    	<div class="large-6 columns">
			    		<p class="margin0b margin0t infotype"><span class="datamargin"><span class="datatype">Contact method:</span> <%= lead.method %></span></p>
				    	</div>
				    	<div class="large-2 columns text-right">
				    		<p class="margin0b margin0t infotype"><%= lead.created_at.strftime("%d %b %Y") %></p>
				    	</div>
				    </div>
			    <% end %>
		    <% else %>
		    <p class="padding2v text-center">Your listing has no leads yet</p>
		    <% end %>
		  </div>
		</div>
	</div>
</div>