<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= metamagic keywords: [:keywords, "UK", "franchise", "franchising", "opportunities", "directory"], separator: " | " %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCjj26YNpwOdQq3XZ7JncPz9WQEqSqOw"type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic,600italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700,600' rel='stylesheet' type='text/css'>
  </head>
  <body>  

<div class="row headerbg headerpaddingh">
  <div class="large-5 medium-6 show-for-medium-up columns padding07v">
    <a href="<%= root_path %>"><h1 class="margin0b margin0t font11 logotext padding05v"><span class="weight900">UKF</span>RANCHISE</h1></a>
  </div>
  <div class="large-14 medium-18 small-24 columns content text-center padding07v">
    <%= form_tag home_search_path, :method => :get, class: "applicationsearch" do %>
      <div class="large-21 medium-21 small-21 columns">
        <%= text_field_tag :search, params[:search], id: "applicationsearch", :placeholder => "Search by industry, franchise name or related keyword", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Search by industry, franchise name or related keyword'" %>
      </div>
      <div class="large-3 medium-3 small-3 columns">
        <%= submit_tag "Search", :name => nil %>
      </div>
    <% end %>
  </div>
  <div class="large-5 show-for-large-up columns content padding05v text-right">
    <ul class="inline-list profilemargin">
      <% if user_signed_in? %>
        <li>
          <%= image_tag('profile1.png') %>
        </li>
        <li>
        <a href="<%= edit_user_registration_path %>"><p class="font09 margin0b lineheight24 weight600">Account</p></a>
        <%= link_to(destroy_user_session_path, :method => :delete) do %><p class="font07 margin0b lineheight8">Sign Out</p></a><% end %>
      <% elsif franchise_signed_in? %>
        <li>
          <%= image_tag('profile1.png') %>
        </li>
        <li>
        <a href="<%= insights_dashboard_path %>"><p class="font09 margin0b lineheight24 weight600">Leads Panel</p></a>
        <%= link_to(destroy_franchise_session_path, :method => :delete) do %><p class="font07 margin0b lineheight8">Sign Out</p></a><% end %>
      <% else %>
        <li>
          <%= image_tag('profile1.png') %>
        </li>
        <li>
        <a href="<%= new_user_session_path %>"><p class="font09 margin0b lineheight24 weight600">Sign in</p></a>
        <a href="<%= new_user_registration_path %>"><p class="font07 margin0b lineheight8">Register</p></a>
      <% end %>
      </li>
    </ul>
  </div>
</div>


<div class="contain-to-grid">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="logodisplay"><a href="<%= root_path %>" class="logotext"><span class="weight900">UKF</span>RANCHISE</a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left marginminus1h">
      <li class="matchernav(hovereffect)"><a href="<%= comingsoon_path  %>"><%= image_tag("matchericon.png", class: "navicons") %>Matcher</a></li>
      <li><a href="<%= comingsoon_path %>"><%= image_tag("discovericon.png", class: "navicons") %>Discover</a></li>
      <li><a href="<%= events_index_path %>"><%= image_tag("eventsicon.png", class: "navicons") %>Events</a></li>
      <li><a href="<%= posts_index_path %>"><%= image_tag("moneyzoneicon.png", class: "navicons") %>Money Zone</a></li>
    </ul>

    <ul class="right marginminus1h">
      <li>
        <a href="<%= industry_index_path %>">Industries</a>
      </li>
      <li class="has-dropdown"><a href="">Spotlight</a>
        <ul class="dropdown">
          <% @spotlightnav.each do |spotlight| %>
          <li><%= link_to(spotlight) do %><%= spotlight.franchisename %><% end %></li>
          <% end %>
        </ul>
      </li>
      <li class="has-dropdown"><a href="">Price Ranges</a>
        <ul class="dropdown">
          <li><a href="<%= industry_investment1_path %>">Less than £15,000</a></li>
          <li><a href="<%= industry_investment2_path %>">£15,000 to £50,000</a></li>
          <li><a href="<%= industry_investment3_path %>">£50,000 to £75,000</a></li>
          <li><a href="<%= industry_investment4_path %>">More than £75,000</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>
</div>

<div class="yieldcontainer">
  <% if flash[:notice] %>
  <div class="row notice">
    <div class="large-20 medium-20 small-18 padding15v content2 columns">
    <%= notice %>
    </div>
    <div class="large-3 medium-3 small-6 noticearrowbg text-center padding15v columns">
      <a href="">X</a>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="row alert">
    <div class="large-20 medium-20 small-18 padding15v content2 columns">
    <%= alert %>
    </div>
    <div class="large-3 medium-3 small-6 alertarrowbg text-center padding15v columns">
      <a href="">X</a>
    </div>
  </div>
  <% end %>  
    <%= yield %>
</div>

<div class="row padding2v">
  <div class="large-4 text-center columns content">
    <div class="row valign-middle footermatch">
      <div class="large-24 medium-24 columns">
        <a href="<%= root_path %>"><h3 class="margin0b margin0t font106 padding05v"><span class="weight900">UKF</span>RANCHISE</h3></a>
      </div>
    </div>
  </div>
  <div class="large-20 medium-24 columns">
    <div class="row footermatch">
      <div class="large-6 medium-6 columns content">
        <ul class="no-bullet font08 textup margin0b margin3r">
          <li class="font09 weight700">Franchisors</li>
          <a href="<%= footerlinks_editlisting_path %>"><li>Edit your listing</li></a>
          <a href="<%= new_franchise_registration_path %>"><li>Create your listing</li></a>
        </ul>
      </div>
      <div class="large-6 medium-6 columns content">
        <ul class="no-bullet font08 textup margin0b margin3r">
          <li class="font09 weight700">Quick Links</li>
          <a href=""><li>Franchise Finder</li></a>
          <a href=""><li>Discover Brands</li></a>
          <a href=""><li>Franchise Events</li></a>
          <a href=""><li>The Money Zone</li></a>
        </ul>
      </div>
      <div class="large-6 medium-6 columns content">
        <ul class="no-bullet font08 textup margin0b margin3r">
          <li class="font09 weight700">Company</li>
          <a href="<%= footerlinks_contactus_path %>"><li>Contact us</li></a>
          <a href="<%= footerlinks_toc_path %>"><li>Terms and Conditions</li></a>
        </ul>
      </div>
      <div class="large-6 medium-6 columns content">
        <ul class="no-bullet font08 textup margin0b margin3r">
          <li class="font09 weight700">Social Media</li>
          <a href="https://www.facebook.com/pages/UK-Franchise/656935641081502" target="_blank"><li>Facebook</li></a>
          <a href="http://www.twitter.com/ukfranchisecouk" target="_blank"><li>Twitter</li></a>
          <a href="https://www.linkedin.com/company/uk-franchise" target="_blank"><li>LinkedIn</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
        $(function() {


          $(function() {
            $('.footermatch').matchHeight();
          });
          $(function() {
            $('.stickyheader').matchHeight();
          });
          
        });
</script>
<script>
  $(document).foundation();
</script>

  </body>
</html>

