<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= metamagic keywords: [:keywords, "UK", "franchise", "franchising", "opportunities", "directory"], separator: " | " %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic,600italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700,600' rel='stylesheet' type='text/css'>
  </head>
  <body>  

<div class="row fullwidth bluebg padding2h padding05v fixed stickyheader">
  <div class="large-6 medium-6 columns content">
    <a href="<%= root_path %>"><h1 class="margin0b margin0t font106 white padding05v"><span class="weight900">UKF</span>RANCHISE</h1></a>
  </div>
  <div class="large-12 medium-18 columns content text-center valign-normal">
    <%= form_tag home_search_path, :method => :get, class: "applicationsearch" do %>
      <div class="large-21 medium-21 columns">
        <%= text_field_tag :search, params[:search], id: "applicationsearch", :placeholder => "Search by industry, franchise name or related keyword", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Search by industry, franchise name or related keyword'" %>
      </div>
      <div class="large-3 medium-3 columns">
        <%= submit_tag "Search", :name => nil %>
      </div>
    <% end %>
  </div>
  <div class="large-6 show-for-large-only columns content padding05v text-right">
    <ul class="inline-list socials">
      <li><a href="https://www.linkedin.com/company/uk-franchise" target="_blank"><%= image_tag("linkedin.png") %></a></li>
      <li><a href="https://www.facebook.com/pages/UK-Franchise/656935641081502" target="_blank"><%= image_tag("facebook.png") %></a></li>
      <li><a href="http://www.twitter.com/ukfranchisecouk" target="_blank"><%= image_tag("twitter.png") %></a></li>
    </ul>
  </div>
</div>
<div class="stickyheader"></div>


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="logodisplay"><a href="<%= root_path %>"><span class="weight900">UKF</span>RANCHISE</a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li class="matchernav(hovereffect)"><a href="<%= comingsoon_path  %>">Matcher</a></li>
      <li><a href="<%= comingsoon_path %>">Discover</a></li>
      <li><a href="<%= events_index_path %>">Events</a></li>
      <li><a href="<%= posts_index_path %>">Money Zone</a></li>
    </ul>

    <ul class="right">
      <li>
        <a href="">Industries</a>
      </li>
      <li class="has-dropdown"><a href="">Spotlight</a>
        <ul class="dropdown">
          <% @spotlightnav.each do |spotlight| %>
          <li><%= link_to(spotlight) do %><%= spotlight.franchisename %><% end %></li>
          <% end %>
        </ul>
      </li>
      <li class="has-dropdown"><a href="">Price Ranges</a>
        <ul class="dropdown">
          <li><a href="<%= industry_investment1_path %>">Less than £15,000</a></li>
          <li><a href="<%= industry_investment2_path %>">£15,000 to £50,000</a></li>
          <li><a href="<%= industry_investment3_path %>">£50,000 to £75,000</a></li>
          <li><a href="<%= industry_investment4_path %>">More than £75,000</a></li>
        </ul>
      </li>
    </ul>

  </section>
</nav>

<% if flash[:notice] %>
<div class="row notice">
  <div class="large-20 columns">
  <%= notice %>
  </div>
  <div class="large-4 columns">
    <a href="">X</a>
  </div>
</div>
<% end %>
<% if flash[:alert] %>
  <div class="row alert">
    <div class="large-20 columns">
    <%= alert %>
    </div>
    <div class="large-4 columns">
      <a href="">X</a>
    </div>
  </div>
<% end %>  

<div class="yieldcontainer">
    <%= yield %>
</div>

<div class="footerbg">
  <div class="row padding2v opacity03">
    <div class="large-4 text-center columns content">
      <div class="row valign-middle footermatch">
        <div class="large-24 columns">
          <a href="<%= root_path %>"><h3 class="margin0b margin0t font106 white padding05v"><span class="weight900">UKF</span>RANCHISE</h3></a>
        </div>
      </div>
    </div>
    <div class="large-20 columns">
      <div class="row footermatch">
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Franchisors</li>
            <a href="<%= footerlinks_editlisting_path %>"><li>Edit your listing</li></a>
            <a href="<%= new_listing_path %>"><li>Create your listing</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Quick Links</li>
            <a href=""><li>Franchise Finder</li></a>
            <a href=""><li>Discover Brands</li></a>
            <a href=""><li>Franchise Events</li></a>
            <a href=""><li>The Money Zone</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Company</li>
            <a href="<%= footerlinks_contactus_path %>"><li>Contact us</li></a>
            <a href="<%= footerlinks_toc_path %>"><li>Terms and Conditions</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Social Media</li>
            <a href="https://www.facebook.com/pages/UK-Franchise/656935641081502" target="_blank"><li>Facebook</li></a>
            <a href="http://www.twitter.com/ukfranchisecouk" target="_blank"><li>Twitter</li></a>
            <a href="https://www.linkedin.com/company/uk-franchise" target="_blank"><li>LinkedIn</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
        $(function() {


          $(function() {
            $('.footermatch').matchHeight();
          });
          $(function() {
            $('.stickyheader').matchHeight();
          });
          
        });
</script>
<script>
  $(document).foundation();
</script>

  </body>
</html>

