<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= metamagic keywords: [:keywords, "UK", "franchise", "franchising", "opportunities", "directory"], separator: " | " %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic,600italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700,600' rel='stylesheet' type='text/css'>
  </head>
  <body>  

  <div class="navbg">
<div class="navrow valign-middle">
  <div class="large-4 medium-6 text-center columns nav content">
    <a href="<%= root_path %>"><%= image_tag('logo.png', alt: "Uk Franchise Directory") %></a>
  </div>
  <div class="large-16 medium-16 columns text-center lineheight0 nav content">
    <div class="icon-bar four-up">
      <a href="<%= comingsoon_path %>" class="item">
        <%= image_tag('find.png', class: "itemicon") %>
        <label class="itemtext">Finder</label>
      </a>
      <a href="<%= comingsoon_path %>" class="item">
        <%= image_tag('discover.png', class: "itemicon") %>
        <label class="itemtext">Discover</label>
      </a>
      <a href="<%= events_index_path %>" class="item">
        <%= image_tag('events.png', class: "itemicon") %>
        <label class="itemtext">Events</label>
      </a>
      <a href="<%= posts_index_path %>" class="item">
        <%= image_tag('moneyzone.png', class: "itemicon") %>
        <label class="itemtext">Money Zone</label>
      </a>
    </div>
  </div>
  <div class="large-4 columns nav">
  </div>
</div>
</div>

<% if flash[:notice] %>
<div class="row notice">
  <div class="large-20 columns">
  <%= notice %>
  </div>
  <div class="large-4 columns">
    <a href="">X</a>
  </div>
</div>
<% end %>
<% if flash[:alert] %>
  <div class="row alert">
    <div class="large-20 columns">
    <%= alert %>
    </div>
    <div class="large-4 columns">
      <a href="">X</a>
    </div>
  </div>
<% end %>  

<%= yield %>

<div class="footerbg">
  <div class="row padding2v opacity03">
    <div class="large-4 text-center columns content">
      <div class="row valign-middle footermatch">
        <div class="large-24 columns">
          <%= image_tag('logo.png') %>
        </div>
      </div>
    </div>
    <div class="large-20 columns">
      <div class="row footermatch">
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Franchisors</li>
            <a href="<%= footerlinks_editlisting_path %>"><li>Edit your listing</li></a>
            <a href="<%= new_listing_path %>"><li>Create your listing</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Quick Links</li>
            <a href=""><li>Franchise Finder</li></a>
            <a href=""><li>Discover Brands</li></a>
            <a href=""><li>Franchise Events</li></a>
            <a href=""><li>The Money Zone</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Company</li>
            <a href="<%= footerlinks_contactus_path %>"><li>Contact us</li></a>
            <a href="<%= footerlinks_toc_path %>"><li>Terms and Conditions</li></a>
          </ul>
        </div>
        <div class="large-6 columns content">
          <ul class="no-bullet font08 textup white margin0b margin3r">
            <li class="font09 weight700">Social Media</li>
            <a href="https://www.facebook.com/pages/UK-Franchise/656935641081502" target="_blank"><li>Facebook</li></a>
            <a href="http://www.twitter.com/ukfranchisecouk" target="_blank"><li>Twitter</li></a>
            <a href="https://www.linkedin.com/company/uk-franchise" target="_blank"><li>LinkedIn</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
        $(function() {


          $(function() {
            $('.footermatch').matchHeight();
          });
          
        });
</script>

  </body>
</html>

